<%- include('./includes/head.ejs') %>
<%- include('./includes/nav.ejs') %>

<div class="jumbotron text-md-left text-center">
    <div class="container">
      <h1 class="display-3">Air Sensor</h1>
      <p>
          The sensor measures the density of particlates in the air with diameters of 10μm and 2.5μm.
      </p>
      <p><a class="btn btn-primary btn-lg" href="/background" role="button">Long term data »</a></p>
    </div>
  </div>

<%- include('./includes/end.ejs') %>
