[Unit]
Description=Air Quality Nodejs Service
After=network.target

[Service]
WorkingDirectory=/home/pi/Node/AirQuality
ExecStart=/usr/bin/nodejs /home/pi/Node/AirQuality/app.js
Restart=on-failure
User=root
Environment=PORT=3000

[Install]
WantedBy=multi-user.target